
.btnResponse1{
    margin-left: 1rem;
    width: 550px;
    margin-bottom: 1rem;
    height: 2rem;
    margin-top: -10px;
}

.answer1{
    margin:5px 20px;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0rem;
    height: 100%;
}
.questionResponsive1{
    width: 50rem;
    align-items: center;
    margin-left: 5rem;
}
.stepResponsive1{
    margin-left: -35rem;
}

.line1{
    margin-top: -2rem;
    width: 1px;
    height: 45rem;
    background-color: silver;
    margin-left: 100px;
    margin-right: 10px;
}
.progressResponse{
    margin-top: -2rem;
    margin-right: -25px;
}

.remainingStepResponse1{
    width: 400px;
}
.remainingStep1{
    width: 400px;
}
.remainingBtnResponse1{
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
    margin-right: 8rem;
    width: 100%;
}
.remainingBtnResponse2{
    flex-direction: row;
    align-items: center;
    width: 20rem;
    margin-top: 15rem;
}
.backResponse1{
    margin-top: 1rem;
    margin-left: 5rem;
}
.notSolvedResponse{
    width: 550px;
    margin-left: -5rem;
}
.lastAnswerResponse{
    margin-left: 0.5rem;
}
.arrowResponse{
    margin-left: -5rem;
}

@media (max-width: 1240px){
    .questionResponsive1{ 
        width: 500px;
        margin-left: 0px; 
    }
    .answer1{
        margin-left: 0px ;
        width: 100%;
    }
    .btnResponse1{
        width: 100%;
        margin-left: 0px;
        height: 65px;
    }
    .stepResponsive1{
        margin-left: -10rem;
    }

    .backResponse1{
        margin-left: -2rem;
    }

    .remainingBtnResponse1{
        flex-direction: row;
        align-items: center;
        margin-left: -1rem;
        margin-right: 20rem;
        width: 100%;
    }
    .remainingBtnResponse2{
        flex-direction: row;
        align-items: center;
        width: 20rem;
        margin-top: 15rem;
    }
    .remainingStepResponse1{
        margin-left: -5rem;
    }
    .notSolvedResponse{
        margin-left: -15rem;
    }
    .lastAnswerResponse{
        margin-left: 0.5rem;
    }
    .arrowResponse{
        margin-left: -11rem;
    }
    .line1{
        margin-top: -2rem;
        height: 45rem;
    }

}
@media (max-width: 1024px){
    .stepResponsive1{
        margin-left: -500px;
    }
    .questionResponsive1{
        padding: 1px;
        width: 50rem;
        margin-left: -50px;
    }
    .answer1{
        margin-top: -10px;
        padding: 15px;
        width: 100% ;
        margin-left: -20px;
        margin-bottom: -1rem;
    }
    .btnResponse1{
        margin-top: 8px;
        margin-left: -10px;
        margin-bottom: 5px;
        width: 20rem;
        }
    .remainingBtnResponse1{
            flex-direction: row;
            align-items: center;
            margin-left: -1rem;
            margin-right: 20rem;
            width: 100%;
        }
    .remainingStepResponse1{
            margin-left: -8rem;
        }
    .remainingStep1{
            margin-left: -8rem;
        }
    .demo1{
            margin-left: -5rem;
        }

    .backResponse1{
        margin-top: 1rem;
        margin-left: -2rem;
    }
    .notSolvedResponse{
        margin-left: -20rem;
        font-size: 16px;
    }
    .lastAnswerResponse{
        margin-left: 0.5rem;
        font-size: 16px;
        width: 100px;
    }
    .arrowResponse{
        margin-left: -21rem;
    }
    .adjustTest{
        margin-left: -18rem;
        font-size: 16px;
    }
    .adjustTest2{
        margin-left: 12rem;
    }
    .test3{
        font-size: 16px;
    }
    .test4{
        margin-left: -14rem;
    }
    .test5{
        margin-left: -15rem;
    }
    .test6{
        font-size: 14px;
    }
}

@media (max-width: 995px){
.stepResponsive1{
    margin-left: -30rem;
}
.questionResponsive1{
    margin-left: -100px;
}
.answer1{
    margin-left: -30px;
    margin-bottom: -40px;
    width:400px;

}
.btnResponse1{
    width: 100%;
    margin-left: -120px;
}
.backResponse1{
    margin-top: 8rem;

}
.line1{
    margin-left: 50px;
}
.demo1{
    margin-left: -16rem;
}

.remainingBtnResponse1{
    width: 50%;
    margin: 1rem 1rem;
}
.remainingStepResponse1{
    margin-left: -15rem;
}
.remainingStep1{
    margin-left: -15rem;
}
.remainingStepResponse1{
    margin-left: -15rem;
}

.backResponse1{
    margin-left: -15rem;
    margin-top: 1rem;
}
.notSolvedResponse{
    margin-left: -20rem;
    font-size: 16px;
}
.lastAnswerResponse{
    margin-left: 0.5rem;
    font-size: 16px;
    width: 100px;
}
.arrowResponse{
    margin-left: -20rem;
}
.btnResponse1{
    margin-top: 1.5rem;
    margin-bottom: 8rem;
    margin-left: -8rem ;
}
}

@media (max-width: 950px){
    
    .progressResponse{
        margin-top: -2rem;
        margin-right: -30px;
        margin-left: 2rem;
    }
    .line1{
        margin-top: -2rem;
        margin-left: 9rem;
        margin-right: -1.5rem;
        height: 40rem;
    }
    .remainingStep1{
        margin-left: -10rem;
    }
    .notSolvedResponse{
        margin-left: -15rem;
        font-size: 16px;
    }
    .lastAnswerResponse{
        margin-left: 0.5rem;
        font-size: 16px;
        width: 100px;
    }
    .arrowResponse{
        margin-left: -15rem;
    }
    .btnResponse1{
        margin-top: 1.5rem;
        margin-bottom: 8rem;
        margin-left: -6rem ;
    }  
    .questionResponsive1{
        margin-left: -4.5rem;
    }
}


@media (max-width: 845px){
    
    .btnResponse1{
        width: 350px;
        margin-left: -80px;
    }
    .progressResponse{
        margin-top: -3rem;
        margin-right: 50px;
        margin-left: 1.5rem;
    }
    .line1{
        margin-left: 8rem;
    }
    .remainingStep1{
        margin-left: -10rem;
    }
    .questionResponsive1{
        margin-left: -1rem;
    }
    .answer1{
        margin-left:-1rem;
    }
    .notSolvedResponse{
        margin-left: -12rem;
        font-size: 16px;
    }
    .lastAnswerResponse{
        margin-left: 0.5rem;
        font-size: 14px;
        width: 50px;
    }
    .arrowResponse{
        margin-left: -13rem;
    } 
    .itemResponse{
        margin-bottom: -0.3rem;
    }
    .btnResponse1{
        margin-top: 1.5rem;
        margin-bottom: 8rem;
        margin-left: -3rem ;
    }
    .line1{
        margin-left: 8rem;
    }
    .solvedResponse1{
        margin-left: -18rem;
    }
    .SolvedAnsResp1{
        margin-left: -17rem;
        font-size: 16px;
        width: 25rem;
    }
}

@media (max-width: 785px){

    .progressItemResponse{
        font-size: 13px;
    }
    .progressForSmall{
        margin-left: 2rem;
        width: 20rem;
        margin-right: 5rem;
    }
    .line1{
        margin-top: -5rem;
        margin-left: 2rem;
    }
    .btnResponse1{
        margin-top: 1.5rem;
        margin-bottom: 8rem;
        margin-left: -3rem ;
    }
    .solvedResponse1{
        margin-left: -18rem;
    }
    .SolvedAnsResp1{
        margin-left: -15rem;
        font-size: 16px;
        width: 20rem;
    }
    .questionResponsive1{
        font-size: 15px;
    }
}

@media (max-width: 768px){
    .progressResponse{
        margin-right: -2rem;
        margin-left: 2rem;
        font-size: 14px;
    }
    .questionResponsive1{
        font-size: 16px;
        margin-left: -2rem;
    }
    .answer1{
        font-size: 16px;
        margin-left: -0.5rem;
    }
    .line1{
        margin-left: 7rem;
    }
    .notSolvedResponse{
        margin-left: -15rem;
        font-size: 16px;
        width: 400px;
    }
    .lastAnswerResponse{
        margin-left: 0.5rem;
        font-size: 14px;
        width: 50px;
    }
    .arrowResponse{
        margin-left: -16rem;
    }
    .btnResponse1{
        margin-top: 1.5rem;
        margin-bottom: 8rem;
        margin-left: -3rem ;
    }
    .remainingStepResponse1{
        margin-left: -18rem;
    }
    .solvedResponse1{
        margin-left: -10rem;
        font-size: 12px;
    }
    .SolvedAnsResp1{
        margin-left: -12rem;
        font-size: 14px;
    }
    .test1{
        font-size: 12px;
    }
    .test2{
        margin-left: 0.5rem;
        font-size: 14px;
    }
    .arrowTest{
        margin-left: -20rem;
    }
    .stepTest1{
        margin-left: -4rem;
    }

}
